.container-panel {
    width: 100%;
    height: calc(100svh - 60px);
    display: flex;
    flex-direction: column;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 30px;
}

.info-container-panel {
    width: calc(100% - 90px);
    padding: 45px 45px 0 45px;
}

.expense-container-panel {
    width: calc(100% - 90px);
    padding: 0 45px 45px 45px;
    overflow: hidden;
}

.month-panel {
    color: var(--primary);
    font-size: 25px;
    font-weight: 400;
}

.expense-panel {
    color: var(--primary);
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 400;
}

.info-container-panel hr {
    margin: 20px 0 20px 0;
}

.previous-panel,
.income-panel,
.current-panel {
    width: 250px;
}

.previous-container-panel,
.income-container-panel,
.current-container-panel {
    display: flex;
    flex-direction: row;
}

.box-panel {
    height: calc(100% - 50px);
    width: auto;
    overflow-y: auto;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background: var(--secondary);
    background-clip: content-box;
    border-left: 10px solid transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--primary);
    background-clip: content-box;
    border-left: 10px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary-light);
    background-clip: content-box;
    border-left: 10px solid transparent;
}
