.container-sidebar {
    background-color: var(--secondary);
    color: white;
    display: flex;
    flex-direction: column;
    min-width: 72px;
    height: calc(100vh - 60px);
    transition: min-width 0.5s ease-in-out;
}
